*{
 border-style: none;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body{
  background-image: url('Background.jpg');
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.title1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:40px;
  color:rgb(13, 213, 228);
  font-family: Arial, Helvetica, sans-serif;
}

/* csse tamame tag haie p  */
p{
  font-size:15px;
  color:#f5eded;
  background-color: dimgray;
  /* width: fit-content; comment= if u use this one u cannot position center */
  text-align: center;
}


/* size image ha  */
img{
  width:300px;height:200px;
}

/* class image o flex hash  */
.image{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column;
  align-items: center; */
} 

.lableform{
  margin-left: 20px;
  font-size: 20px;
  color: rgba(29, 214, 228, 0.945);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.submitbutton{
  font-size: 20px;
  color: white;
  background-color: rgb(16, 233, 233);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:90px;height:40px;
}

.input-info {
  width:300px;height:25px;
}

textarea {
  width:200px;height:30px;
}

button:hover {
  background-color: purple;
  cursor: pointer;
}

/* media baraye taghir dsplay roie computer o mobile  */
@media (max-width: 768px) {
  body {
    background-color: red;
  }

  .image {
    display: flex;  
    flex-direction: column;
  }

  img{
    width:100%;

  }

  h2{
    font-size: 100%;
  }

  iframe {
    /* width: 200px;height: 200px; */
    width: fit-content;
  } 

}
