*{
 border-style: none;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body{
  background-image: url('Background.jpg');
  font-family: "Poppins", sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.title1{
  margin-block-start: 3%;
  margin-left: 4%;
  font-size:270%;
  color:rgba(121, 16, 16, 0.829);
  font-style: oblique;
  border-style: outset;
}

.inframe{
margin-left: 55%;
width: 35%; height: 35%;
border-style: outset;
}

/* csse tamame tag haie p  */
p{
  font-size:15px;
  color:#4b0202;
  background-color: rgb(243, 199, 199);
  text-align: center;
}


/* size image ha  */
img{
  width:250px;height:200px;
}

/* class image o flex hash  */
.image{
  display: flex;
  justify-content: space-evenly;
} 

.lableform{
  margin-left: 5%;
  font-size: 20px;
  color: brown;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.submitbutton{
  font-size: 20px;
  color: red;
  background-color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:90px;height:40px;
}

.input-info {
  width:300px;height:25px;
}

textarea {
  width:200px;height:30px;
}

button:hover {
  background-color: purple;
  cursor: pointer;
}

/* media baraye taghir dsplay roie computer o mobile  */
@media (max-width: 768px) {
  body {
    background-color: red;
  }

  .image {
    display: flex;  
    flex-direction: column;
  }

  img{
    width:100%;

  }

  h2{
    font-size: 100%;
  }

 

}
